.signUpFormCard {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 444px;
  height: 509px;
}
.welcomeTo {
  color: var(--color-black);
}
.advizerAi {
  background: linear-gradient(
    91.34deg,
    #7848ff,
    rgba(255, 56, 56, 0.64) 66.15%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcomeToAdvizerContainer1 {
  line-break: anywhere;
  width: 100%;
}
.welcomeToAdvizerContainer {
  position: absolute;
  top: 36px;
  left: 28px;
  font-size: var(--font-size-17xl);
  font-weight: 500;
  font-family: var(--font-roboto);
  text-align: left;
  display: flex;
  align-items: center;
  width: 388px;
}
.registerBtnChild {
  cursor: pointer;
  border: 1px solid var(--color-gainsboro);
  padding: 0;
  background-color: var(--color-dodgerblue-200);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-12xl-5);
  box-sizing: border-box;
  width: 200px;
  height: 63px;
}
.register {
  position: absolute;
  top: 15px;
  left: 48px;
  font-size: var(--font-size-9xl);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: flex;
  align-items: center;
  width: 105px;
}
.registerBtn {
  position: absolute;
  top: 408px;
  left: 119px;
  width: 200px;
  height: 63px;
}
.emailInput,
.passwordInput,
.usernameInput {
  border: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-5xl);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 341px;
  height: 60px;
}
.emailInput,
.passwordInput {
  top: 83px;
}
.passwordInput {
  top: 166px;
}
.registerCard,
.usernameInputParent {
  position: absolute;
  top: 130px;
  left: 49px;
  width: 341px;
  height: 226px;
}
.registerCard {
  top: 304px;
  left: 36px;
  width: 444px;
  height: 509px;
}
