.navBg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 516px;
  height: 96px;
}
.advizerAi {
  position: absolute;
  top: 27px;
  left: 28px;
  font-weight: 500;
  background: linear-gradient(
    91.34deg,
    #7848ff,
    rgba(255, 56, 56, 0.64) 66.15%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav,
.signUpFormCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 516px;
  height: 96px;
}
.signUpFormCard {
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 444px;
  height: 509px;
}
.accountDetails {
  position: absolute;
  top: 36px;
  left: 94px;
  font-weight: 500;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-dodgerblue-200);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 123px;
  height: 63px;
}
.edit {
  position: absolute;
  top: 15px;
  left: 37px;
  font-weight: 500;
}
.registerBtn,
.registerBtnInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 63px;
}
.registerBtn {
  top: 408px;
  left: 154px;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
}
.registerCard {
  position: absolute;
  top: 304px;
  left: 36px;
  width: 444px;
  height: 509px;
}
.rounik {
  color: var(--color-tomato);
}
.helloRounik {
  position: absolute;
  top: 172px;
  left: 109px;
  font-size: var(--font-size-29xl);
  font-weight: 600;
  color: var(--color-gray-400);
}
.groupInner,
.groupItem,
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs-5);
  background-color: var(--color-dimgray-100);
  width: 45px;
  height: 8px;
}
.groupInner,
.rectangleDiv {
  top: 26px;
}
.rectangleDiv {
  top: 13px;
}
.rectangleGroup {
  position: absolute;
  top: 31px;
  left: 443px;
  width: 45px;
  height: 34px;
  cursor: pointer;
}
.profileMobile {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
